.filterBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: var(--bg-dark);
}

.filterLeft,
.filterRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
