.productCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: var(--color-grey7);
}

.productCard .topCard {
  background-color: var(--color-grey8);
  height: 60%;
  position: relative;
}

.topCard .productImage {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: auto;
}

.price {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.productCard .bottomCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  padding-inline: 25px;
}

.productName {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.brand {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-text);
}

.title {
  font-size: 1.3rem;
}

.desc {
  color: var(--soft-text);
  font-size: 0.9rem;
}

.btn {
  background-color: var(--color-primary);
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--ff);
}
