:root {
  /* Typography */
  font-size: 16px;
  --ff: "Syne", sans-serif;
  --ff-secondary: "Great Vibes", sans-serif;
  --h1: bold 10rem/1em var(--ff);
  --h2: bold 7rem/1.2em var(--ff);
  --p: normal 2rem/1.2em var(--ff);

  /* colors */
  --color-primary: #ffe16b;
  --color-secondary: #fedbca;
  --color-white: #fff;
  --color-text-on-primary: #000;
  --soft-text: #605e5e;
  --bg-dark: #171717;
  --fg-light: #fff;

  /* variable to use for testing styles */
  --test-bg: rgb(184, 233, 181);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background-color: var(--bg-dark);
  color: var(--fg-light);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  z-index: -1;
  background-color: var(--color-primary);
  animation: section-bg 1s ease-in-out forwards;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

a {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  body::before {
    background-color: var(--bg-dark);
  }
}

/* ANIMATIONS */
@keyframes section-bg {
  0% {
    width: 0vw;
  }

  100% {
    width: 50vw;
  }
}
