.productsContainer {
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 100px;
}

@media (max-width: 1024px) {
  .productsContainer {
    grid-template-columns: 400px 400px;
  }
}

@media (max-width: 768px) {
  .productsContainer {
    grid-template-columns: 400px;
  }
}
