.productsContainer {
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 10px;
}

@media (max-width: 1200px) {
  .productsContainer {
    grid-template-columns: 360px 360px;
  }
}

@media (max-width: 768px) {
  .productsContainer {
    grid-template-columns: 360px;
  }
}
