.header {
  height: 75px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft,
.navRight {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navLeft {
  color: var(--color-text-on-primary);
}

.navLeft li:first-child {
  font-weight: bold;
}

.navRight li:last-child {
  font-weight: bold;
  color: var(--color-primary);
}
.navItem {
  font-size: 1.2rem;
}

.mobileNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

/* Responsive Styles  */
@media screen and (min-width: 1024px) {
  .mobileNavContainer {
    display: none;
  }
}
