.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
}

.headingContainer {
  width: 100%;
  background-color: var(--bg-dark);
  padding: 50px;
}

.heading {
  font-size: 4rem;
  color: var(--color-primary);
  padding-left: 10%;
}

@media (max-width: 768px) {
  .heading {
    color: var(--color-primary);
  }
}
