:root {
  /* Typography */
  font-size: 16px;
  --ff: "Montserrat", sans-serif;
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff);

  /* colors */
  --primary: #ffe500;
  --secondary: #ad2387;
  --tertiary: #fff;
  --bg-dark: #171717;
  --fg-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background-color: var(--bg-dark);
  color: var(--fg-light);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

a {
  all: unset;
  cursor: pointer;
}
